.restaurant-content {
    width: 480px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 4px #a3a3a3;
}
  
.restaurant-content h3 {
    margin: 30px;
    padding: 20px 0 0 20px;
}


.loading-spinner {
    width: 100%;
    height: auto;
    padding-left: 50px;
}
  
.add-restaurant-container {
    cursor: pointer;
    background-color: #ffffff;
    padding: 10px 50px 10px 50px;
    transition: background-color 0.5s;
}
  
.add-restaurant-container:hover {
    background-color: #f3f3f3;
}
  
.add-restaurant {
    margin: 0;
    font-weight: bold;
    color: cornflowerblue;
}

.restaurant-item-container {
    cursor: pointer;
    background-color: #ffffff;
    padding: 7px 50px 7px 50px;
    transition: background-color 0.5s;
}
  
.restaurant-item-container:hover {
    background-color: #f3f3f3;
}
  
.restaurant-item-container h6,p {
    margin: 0;
}
  
.restaurant-item-container h6 {
    font-weight: bold;
}
    