* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar {
  background-color: #3d4b63 !important;
  border: 1px solid transparent;
}

.navbar-default {
  background-color: #55688a;
  /* border-color: #e7e7e7; */
}

.navbar-text {
  color: white;
  margin-right: 20px;
}

.sidebar {
  z-index: 1;
  width: 250px;
  height: 100%;
  margin-top: 56px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.sidebar ul li {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  text-align: left
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li:hover {
  background-color: #3d4b63 
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

a {
  color: #fff;
  text-decoration: none;
}

.page-wrapper {
  position: inherit;
  margin: 0 0 0 250px;
  padding: 56px 30px 0 30px;
  border-left: 1px solid #e7e7e7;
  background-color: white;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.active {
  background-color: #d8d8d8
}

.active a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.ic-logout {
  color: white;
}